@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /**
   * NOTE:
   * ===========
   * When the top section within main has a
   * section gap the browser collapses the main
   * wrapper causing whitespace to appear.
   */
  .prevent-collapse {
    padding-top: 0.05px;
    padding-bottom: 0.05px;
  }

  .text-shadow {
    text-shadow: 1px 1px 3px rgb(0 0 0 / 29%), 2px 4px 7px rgb(73 64 125 / 35%);
  }
}

@layer components {
  .animate-marquee {
    animation: marquee var(--marque-dur, 5s) linear infinite;
  }

  .marquee-dur-skills {
    --marque-dur: 20s;
  }

  .perspective-box {
    transform: perspective(2000px) translateX(0%) rotateY(30deg) rotateX(7deg);
  }

  @media (min-width: theme('screens.xl')) {
    .perspective-box {
      transform: perspective(2000px) translateX(10%) rotateY(30deg)
        rotateX(10deg);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(-0%);
    }

    100% {
      transform: translateX(-100%);
    }
  }
}
